@import './mixins/index.scss';
@import './base/index.scss';
@import './library/flikity.css';
@import './library/aos.scss';

@include font-face(
  'SF_pro',
  'SFPRODISPLAYBOLD',
  700,
  'bold'
);
@include font-face(
  'SF_pro',
  'SFPRODISPLAYSEMIBOLD',
  600,
  'semi-bold'
);
@include font-face(
  'SF_pro',
  'SFPRODISPLAYMEDIUM',
  500,
  'medium'
);
@include font-face('SF_pro', 'SFPRODISPLAYREGULAR');
@include font-face('American Captain', 'American_Captain');

body {
  position: relative;

  font-family: 'SF_pro', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: $white;
  background: $dark-2;
}

button {
  &:hover {
    cursor: pointer;
    transform: translateY(1px);
  }
}

@import './chunk/header/index.scss';
@import './chunk/about-us/index.scss';
@import './chunk/benefits/index.scss';
@import './chunk/buy/index.scss';
@import './chunk/amazed/index.scss';
@import './chunk/contact/index.scss';
@import './chunk/footer/index.scss';
@import './chunk/carousel/index.scss';
