.slide {
  position: relative;
  width: 570px;
  height: 270px;
  background: green;
  &:hover {
    .slide__wrap {
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }
  }
}

.slide:hover .slide__btn {
	display: none;
}

.slide__img {
  width: 100%;
  height: 100%;
}

.slide__wrap {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  opacity: 0;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0 0 0 / 0.8);
  transition: all 0.2s ease-in-out;
}

.slide__wrap--title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 10px;
}

.slide__wrap--desc {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 28px;
}

.slide__btn {
  @media (max-width: $laptop) {
    position: absolute;
    width: 40%;
    bottom: 24px;
    left: 30%;
    padding: 8px 32px;
    font-weight: 600;
    background: red;
    @include btn-trans;
  }
}
