.amazed {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  overflow: hidden;
  max-width: $page;
  margin: 0 auto;
  padding: 100px 100px 96px;
  background: $dark;

  &:before {
    content: '';
    position: absolute;
    top: 152px;
    left: 34px;
    width: 259px;
    height: 417px;
    background-image: url('./../img/decor/star-green.svg');
    background-repeat: no-repeat;
    background-position: center center;

    @media (max-width: $laptop) {
      top: 10px;
      left: -24px;
    }

    @media (max-width: $mobile) {
      padding: 20px;
      left: -53px;
    }
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    width: 303px;
    height: 331px;
    background-image: url('./../img/decor/star-blue.svg');
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 300;

    @media (max-width: $laptop) {
      right: -123px;
      bottom: -224px;
    }
    @media (max-width: $mobile) {
      right: -217px;
    }
  }

  @media (max-width: $laptop) {
    padding: 40px;
  }
}

.amazed__img {
  padding-top: 50px;
}

.amazed__info {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  z-index: 200;

  @media (max-width: $desktop) {
    flex-flow: column wrap;
  }
}

.amazed__info--title {
  @media (max-width: $laptop) {
    font-size: 64px;
  }
}

.amazed__info--br {
  @media (max-width: $laptop) {
    display: none;
  }
}

.amazed__info--desc {
  max-width: 420px;
  padding-top: 56px;
  font-size: 32px;
  line-height: 38px;

  @media (max-width: $desktop-large) {
    max-width: 355px;
    font-size: 28px;
    text-align: right;
  }

  @media (max-width: $desktop) {
    max-width: 100%;
    padding-top: 0;
    text-align: left;
  }
}

.amazed__video {
  max-width: 1720px;
  width: 100%;
  position: relative;
  padding-top: 18px;
  z-index: 200;
  overflow: hidden;
  border-radius: 20px;
}

.amazed__video--video {
  width: 100%;
}

.amazed__video--btn {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url('./../img/icons/play.svg');
  background-repeat: no-repeat;
  background-position: center center;
}
