.amazed {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  overflow: hidden;
  max-width: $page;
  margin: 0 auto;
  padding: 100px 100px 96px;
  background: $dark;

  &:before {
    content: '';
    position: absolute;
    top: 152px;
    left: 0;
    width: 259px;
    height: 417px;
    background-image: url('./../img/decor/star-green.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    width: 303px;
    height: 331px;
    background-image: url('./../img/decor/star-blue.svg');
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 300;
  }
}

.amazed__img {
  padding-top: 50px;
}

.amazed__info {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  z-index: 200;
}

.amazed__info--desc {
  max-width: 420px;
  padding-top: 56px;
  font-size: 32px;
  line-height: 38px;
}

.amazed__video {
  max-width: 1720px;
  width: 100%;
  position: relative;
  padding-top: 18px;
  z-index: 200;
  overflow: hidden;
  border-radius: 20px;
}

.amazed__video--video {
  width: 100%;
}

.amazed__video--btn {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
  background-image: url('./../img/icons/play.svg');
  background-repeat: no-repeat;
  background-position: center center;
}
