.contact-int {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 116px 100px;
  z-index: 200;
}

.contact-int__info {
  max-width: 660px;
}

.contact-int__info--desc {
font-size: 26px;
line-height: 50px;
}

.contact-int-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 626px;
}

.contact-int-input {
  min-width: 302px;
  font-size: 20px;
  margin-bottom: 50px;
  color: $light;

  background: transparent;
  border: none;
  border-bottom: $light 1px solid;

  &:nth-child(5) {
    min-width: 100%;
  }

  &::placeholder {
    color: $light;
  }
}
