.menu {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 112px;
  max-width: $page;
  margin: 0 auto;
  padding: 0 100px;

  @media (max-width: $desktop) {
  padding: 0 44px;
  }

  @media (max-width: $laptop) {
  position: fixed;
  padding: 0 112px 0 44px;
  }
}

.menu__title {
  padding-top: 32px;
}
