.menu-nav {
  display: flex;
  align-items: center;
  letter-spacing: 0.7px;
  padding-left: 26px;
}

.menu-nav__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.menu__btn {
  align-self: center;
  padding: 8px 32px;
  letter-spacing: 0.3px;
  @include btn-trans;
}
