.mobile-menu-btn {
	position: absolute;
	right: 18px;
	top: 15px;
	width: 80px;
	height: 80px;
	border: 0;
	background: none;
	background-image: url('./../img/icons/menu.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 40px;
}
