.benefits {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  max-width: $page;
  margin: 0 auto;
  position: relative;
  padding-top: 90px;
  background: $dark;
  overflow: hidden;

  &:before {
    content: '';
    width: 302px;
    height: 298px;
    position: absolute;
    display: block;
    top: -68px;
    left: -108px;
    background-image: url('./../img/decor/lines.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
  }
  &:after {
    content: '';
    width: 302px;
    height: 298px;
    position: absolute;
    display: block;
    bottom: -59px;
    right: -133px;
    transform: rotate(180deg);
    background-image: url('./../img/decor/lines.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
  }

}

.benefits__title {
  text-align: center;
  margin-bottom: 13px;
}

.benefits__cards {
  display: flex;
  justify-content: center;
  width: 100%;

  padding: 162px 0 114px 0;
}
