.footer-content {
  display: flex;
  justify-content: space-between;

  @media (max-width: $desktop) {
    flex-flow: row wrap;
  }
}

.footer-content__title {
  @media (max-width: $desktop) {
    width: 100%;
  }
}
