.footer-social-link {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: -4px 5px;
}

.footer-social-link--fb {
  background-image: url('./../img/icons/Facebook.svg');
}
.footer-social-link--in {
  background-image: url('./../img/icons/LinkedIn.svg');
}
.footer-social-link--inst {
  background-image: url('./../img/icons/Instagram.svg');
}
