.footer-nav-block {
  @media (max-width: $laptop) {
    width: 100%;
    flex-flow: row wrap;
    padding-bottom: 60px;
  }
}

.footer-nav-block--contact {
  .footer-nav-block__item {
    &:first-child {
      margin-bottom: 13px;
    }
  }
}

.footer-nav-block__item {
  margin-bottom: 7px;
  &:first-child {
    font-size: 35px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: -0.7px;
  }

  @media (max-width: $laptop) {
    display: inline;
    margin-right: 16px;

    &:first-child {
      display: block;
    }
  }
}

.footer-nav-block__item--flex {
  display: flex;
  max-width: 126px;

  @media (max-width: $laptop) {
  display: flex;
  }
}

.footer-nav-block__item--link {
  font-size: 17px;
  color: $gray;
  &:link,
  &:visited {
    color: $gray;
  }
}

.footer-nav-block__item--flex {
  display: flex;
  justify-content: space-between;
  max-width: 126px;
  padding-top: 10px;
}
