.about-us-content {
  display: flex;

  padding-top: 95px;
}

.about-us-content__desc {
  padding: 48.5px 100px 0 0;

  line-height: 29px;
}

.about-us-content__img {
  z-index: 200;
}

.about-us-content__img--image {
}
