.buy {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
position: relative;
  max-width: $page;
  margin: 0 auto;
  padding: 100px 100px 540px 100px;
  overflow: hidden;

  @media (max-width: $mobile) {
  	padding: 100px 20px 540px;
  }
}

.buy__title {
	margin-bottom: 16px;

	@media (max-width: $laptop) {
	font-size: 62px;
	}
}

.buy__desc {
  padding-bottom: 62px;
}

.buy__content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
